[submodule "PSO2-Aqua-Library"]
	path = PSO2-Aqua-Library
	url = https://github.com/Shadowth117/PSO2-Aqua-Library.git
[submodule "helix-toolkit"]
	path = helix-toolkit
	url = https://github.com/helix-toolkit/helix-toolkit.git
